# Build items
bin/

# Local config and logs
config.yaml
*.log

# Downloaded data and NZBs
downloads/
*.part
*.NZBs
testdata/

# Git and IDE stuff
.git
.gitignore
.vscode
.github

# Docker specific
.dockerignore

# Database
*.db*

# UI dependencies/build cache
ui/node_modules
ui/.vite
ui/*.tsbuildinfo
ui/dist