# Binaries
bin/

# Ignore config file
config.yaml
*.yaml

# Ignore any .nzb files used as a sample
*.nzb
# ignore the default downloads folder
downloads

# testdata used by docker compose
testdata

# Ignore logs
*.log

# Ignore db
*.db*

# Web dist
internal/webui/dist