name: Build and Release

on:
    push:
        tags:
            - 'v*' # Triggers on any tag starting with v
    pull_request:
            branches: [ main ]

jobs:
    build-and-publish:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                fetch-depth: 0

            - name: Lowercase repo name
              run: | 
                echo "REPO_LOWER=${GITHUB_REPOSITORY@L}" >> "${GITHUB_ENV}"
            
            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                go-version: '1.25'

            # 1. Build binaries via Makefile
            - name: Build Binaries
              run: make build

            # 2. Setup Docker Buildx (for multi-platform support)
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            # 3. Login to Github Container Registry (GHCR)
            - name: Login to GHCR
              if: startsWith(github.ref, 'refs/tags/')
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{secrets.GITHUB_TOKEN }}

            # 4. Build and Push Docker Image
            - name: Build and Push Docker
              uses: docker/build-push-action@v5
              with:
                context: .
                push: ${{ startsWith(github.ref, 'refs/tags/') }}
                tags: |
                  ghcr.io/${{ env.REPO_LOWER }}:latest
                  ghcr.io/${{ env.REPO_LOWER }}:${{ github.ref_name }}
                build-args: |
                  VERSION=${{ github.ref_name }}

            # 5. Create GitHub Release and Upload Binary
            - name: Release
              uses: softprops/action-gh-release@v1
              if: startsWith(github.ref, 'refs/tags/')
              with:
                files: bin/gonzb
                generate_release_notes: true